@model  Vegan.Web.Models.AllProductViewModel

@{
    ViewBag.Title = "All Products";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div id="top" pxlurl="[product_url]" class="container-fluid">
    <div class="contentbox-wrapper docsection-wrapper">
        <div class="contentbox docsection boxed productlist">
            <div id="pageheader" class=" ">
                <div class="">
                    <div class="breadcrumbs-wrapper clearfix">
                        <div class="breadcrumbs">
                            <section>
                                <p><a id='catCrumbHomeLink' href='/'>Home</a> > <a href="/Product/IndexUser">Products</a></p>
                            </section>
                        </div>
                    </div>
                    <div class="title-wrapper clearfix">
                        <div class="title">
                            <header>
                                <h1>All Products</h1>
                            </header>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-wrapper clearfix">
                <div class="header">
                    <header>
                        <br />  
                        <h2>
                            Products
                            <small> Sort by:  </small>
                            <select name="sortby" onchange="frmsortby.submit();" class="txtBoxStyle">
                                <option value="1">Price: Low to High</option>
                                <option value="2">Price: High to Low</option>
                                <option value="3" selected>Name</option>

                            </select>
                            <br />
                           
                        </h2>
                    </header>

                </div>
            </div>
        </div>
        <div class="content container">
            <div class="title-wrapper clearfix">
                <div class="title">
                    <header>
                        <h2> Home Products</h2>
                    </header>
                    <small>Total Items: @Model.CandleProducts.ToList().Count() </small>
                </div>
            </div>


            @foreach (var item in Model.HomeProducts)
            {
                <div class="product">

                    @{
                        string baseType = item.GetType().BaseType.ToString();
                        var splitBaseType = baseType.Split('.');
                        baseType = splitBaseType[splitBaseType.Length - 1];

                    }

                    <div class="image"
                         style="
                         filter:
                            -webkit-filter: blur(4px);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                         background-position: right top;
                            background-image: url( @Html.DisplayFor(modelItem => item.ImageURL));
                            max-height: 400px; ">

                        <img src="@Html.DisplayFor(modelItem => item.ImageURL)" style="max-height:400px;  filter: blur(0px);">
                    </div>
                    <div class="frame"></div>
                    <div class="info">
                        <div class="info-data">
                            <div>
                                <div>
                                    @Html.ActionLink("Read More", String.Format("{0}{1}", "Details", baseType), String.Format("{0}", baseType), new { productId = item.Id }, null)
                                    <div class="price">
                                        <span class="yourprice">Your Price: <strong>€ @Html.DisplayFor(modelItem => item.Price) </strong></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3>  @Html.ActionLink((@Html.DisplayFor(modelItem => item.Title).ToString()), String.Format("{0}{1}", "Details", baseType), String.Format("{0}", baseType), new { productId = item.Id }, null)</h3>
                </div>
                <hr />
            }
        </div>
    </div>
</div>







