@model IEnumerable<Vegan.Entities.Product>

@{
    ViewBag.Title = "Shop - All Products";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}



<div id="top" pxlurl="[product_url]" class="container">
    <div class="contentbox-wrapper docsection-wrapper">
        <div class="contentbox docsection boxed productlist">
            <div id="pageheader" class=" ">
                <div class="">
                    <div class="breadcrumbs-wrapper clearfix">
                        <div class="breadcrumbs">
                            <section>
                                <p><a id='catCrumbHomeLink' href='/'>Home</a> > <a href="/Product/IndexUser">Products</a></p>
                            </section>
                        </div>
                    </div>
                    <div class="title-wrapper clearfix">
                        <div class="title">
                            <header>
                                <h1>Products</h1>
                            </header>
                        </div>
                    </div>
                </div>
            </div>
            @*<div id="categoryproducts" class="productlist docsection-wrapper">
                <div class="docsection boxed">
                    <form action="view_category.asp?cat=189" method="post" name="frmsortby" id="frmsortby">*@
            <div class="header-wrapper clearfix">
                <div class="header">
                    <header>
                        @*TODO*@
                        <h2>
                            Products
                            <small> Sort by:  </small>
                            <select name="sortby" onchange="frmsortby.submit();" class="txtBoxStyle">
                                <option value="1">Price: Low to High</option>
                                <option value="2">Price: High to Low</option>
                                <option value="3" selected>Name</option>

                            </select>
                            <br />  
                            <small>Total Items: @Model.ToList().Count() </small>
                        </h2>
                    </header>
                  
                </div>
            </div>
            @*<div class="product">
                    <div class="image" style="background-image: url(assets/images/thumbnails/Caboo_BambooToiletPaper_thumbnail.jpg);"><img src="assets/templates/vegan2020/images/img10x10blank.png" alt="Caboo Bamboo Toilet Paper" id="qv_1429"></div>
                    <div class="frame"></div>
                    <div class="info">
                        <div class="info-data">
                            <div>
                                <div>
                                    <div class="morebutton"><a href="Caboo-Bamboo-Toilet-Paper_p_1429.html" class="btn">Read More</a></div>
                                    <div class="price">

                                        <span class="yourprice">Your Price: <strong>$1.85</strong></span>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <h3><a href="Caboo-Bamboo-Toilet-Paper_p_1429.html"><span><span>Caboo Bamboo Toilet Paper<span><span></a></h3>
                </div>*@

        </div>
        @*</div>
            </div>
            <div class="content-wrapper clearfix container">*@
        <div class="content container">
            @foreach (var item in Model)
            {
                <div class="product">
                    <div
                       
                            class="image"
                            style=" 
                         filter: @*blur(8px);*@
                            -webkit-filter: blur(4px);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                         background-position: right top;

                         @*background-position: center;*@
                            background-image: url( @Html.DisplayFor(modelItem => item.ImageURL));
                            max-height: 400px; "
                         >
                             
                        <img src="@Html.DisplayFor(modelItem => item.ImageURL)" style="max-height:400px;  filter: blur(0px);">
                    </div>
                    <div class="frame"></div>
                    <div class="info">
                        <div class="info-data">
                            <div>
                                <div>
                                    @Html.ActionLink("Read More", "DetailsProduct", new { productId = item.Id })
                                    <div class="price">
                                        <span class="yourprice">Your Price: <strong>€ @Html.DisplayFor(modelItem => item.Price) </strong></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*Brings dynamicly the title and tranform it into a link connected to the candle's details*@
                    <h3>  @Html.ActionLink((@Html.DisplayFor(modelItem => item.Title).ToString()), "DetailsProduct", new { productId = item.Id })</h3>
                </div>
            }
        </div>
    </div>

</div>





@*================================================================ TODO --- Present with use of ANGULAR  ================================================================================================================*@


@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageURL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }

    </table>*@
